@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    background-color: black;
}
.home-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-bg{
    background-image: url(images/2320989.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40rem;
}
.profile-bg{
    width: 80%;
    max-width: 550px;
    height: 15rem;
    position: absolute;
    border: none;
    border-radius: 2rem;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
.profile{
    position: absolute;
    background-image: url(images/profile\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    margin-bottom: 4rem;
}
.profile-txt{
    position: absolute;
    color: white;
    top: 9.5rem;
    font-size: 2rem;
}
@media only screen and (max-width: 580px){
    .profile-txt{
        font-size: 1.5rem;
        top: 10.5rem;
    }
}
@media only screen and (max-width: 450px){
    .profile-txt{
        top: 10rem;
    }
}
.bottom-fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.61),rgb(0, 0, 0));
    height: 7rem;
    width: 100%;
    position: absolute;
    margin-top: 527px;
}
.about-container{
    max-width: 100%;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.about-bg{
    background-image: url(images/2320948.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.about-header{
    font-size: 2rem;
}
.about-txt{
    max-width: 550px;
    font-size: medium;
    font-size: 1.3rem;
}
.about-content-bg{
    width: 80%;
    max-width: 550px;
    max-height: 70rem;
    position: absolute;
    border: none;
    border-radius: 2rem;
    backdrop-filter: blur(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
@media only screen and (max-width: 298px){
    .about-header{
        font-size: 2rem;
    }
    .about-txt{
        font-size: 1.1rem;
    }
}
.about-container .bottom-fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.61),rgb(0, 0, 0));
    height: 7rem;
    width: 100%;
    position: absolute;
    margin-top: 855px;
}







.top-releases-container{
    background-color: black;
    color: white;
}
.top-releases-txt{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
.scroll-to-x-axis-txt{
    text-align: center;
    margin-top: -60px;
}

.top-releases-container .poster img{
    max-width: 525px;
    max-height: 240px;
    border-radius: 10px;
}
.top-releases-container .poster{
    margin-left: 5px;
}
.top-releases-container .posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;
}
.top-releases-container .posters::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 315px){
    .top-releases-txt{
        font-size: 1.2rem;
    }
    .scroll-to-x-axis-txt{
        font-size: 1rem;
        margin-top: -55px;
    }
}
@media only screen and (max-width: 445px){
    .top-releases-container .poster img{
        max-height: 190px;
    }
}




.all-releases-container{
    background-color: black;
    color: white;
}
.all-releases-txt{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
.scroll-to-x-axis-txt{
    text-align: center;
    margin-top: -60px;
}

.all-releases-container .poster img{
    max-width: 525px;
    max-height: 240px;
    border-radius: 10px;
}
.all-releases-container .poster{
    margin-left: 5px;
}
.all-releases-container .posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;
}
.all-releases-container .posters::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 315px){
    .all-releases-txt{
        font-size: 1.2rem;
    }
    .scroll-to-x-axis-txt{
        font-size: 1rem;
        margin-top: -55px;
    }
}
@media only screen and (max-width: 445px){
    .all-releases-container .poster img{
        max-height: 190px;
    }
}


.cover-songs-container{
    background-color: black;
    color: white;
}
.cover-songs-txt{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
.scroll-to-x-axis-txt{
    text-align: center;
    margin-top: -60px;
}

.cover-songs-container .poster img{
    max-width: 525px;
    max-height: 240px;
    border-radius: 10px;
}
.cover-songs-container .poster{
    margin-left: 5px;
}
.cover-songs-container .posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;
}
.cover-songs-container .posters::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 315px){
    .cover-songs-txt{
        font-size: 1.2rem;
    }
    .scroll-to-x-axis-txt{
        font-size: 1rem;
        margin-top: -55px;
    }
}
@media only screen and (max-width: 445px){
    .cover-songs-container .poster img{
        max-height: 190px;
    }
}



.contact-container{
    background-color: black;
    color: white;
    margin-top: 20px;
}
.contact-content{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-bg{
    background-image: url(images/2320989.jpg);
    width: 100%;
    height: 60rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info img{
    max-width: 40px;
}
.youtube{
    display: flex;
    align-items: center;
}
.instagram{
    display: flex;
    align-items: center;
}
.instagram img{
    width: 35px;
}
.whatsapp{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 2rem;
}
.contact-info{
    backdrop-filter: blur(50px);
    padding: 30px;
    border-radius: 30px;
}
.contact-txt{
    font-size: 3.5rem;
    margin: 0;
}
.contact-header{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    backdrop-filter: blur(50px);
    border-radius: 30px;
    margin: 20px;
}
.contact-bg .fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.61),rgb(0, 0, 0));
    height: 7rem;
    width: 100%;
    position: absolute;
    margin-top: 855px;
}

@media only screen and (max-width:560px){
    .contact-content{
        width: 80%;
    }
    .contact-bg{
        height: 35rem;
    }
    .contact-container .fade{
        margin-top: 448px;
    }
    .contact-info{
        width: 80%;
    }
    .contact-txt{
        font-size: 2rem;
        margin: 0;
    }
    .contact-header{
        margin: 10px;
    }
    a{
        font-size: 100%;
    }
    .contact-info img{
        max-width: 23px;
    }
    .youtube{
        justify-content: center;
    }
    .instagram{
        justify-content: center;
    }
    .whatsapp{
        justify-content: center;
    }
}
@media only screen and (max-width: 375px){
    a{
        font-size: 10px;
    }
    .contact-info img{
        max-width: 10px;
    }
    .contact-header{
        margin: 10px;
    }
    .contact-txt{
        font-size: 1.5rem;
        margin: 0;
    }
}