@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
}
.home-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-bg{
    background-image: url(images/2320989.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40rem;
}
.profile-bg{
    width: 80%;
    max-width: 550px;
    height: 15rem;
    position: absolute;
    border: none;
    border-radius: 2rem;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
.profile{
    position: absolute;
    background-image: url(images/profile\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    margin-bottom: 4rem;
}
.profile-txt{
    position: absolute;
    color: white;
    top: 9.5rem;
    font-size: 2rem;
}
@media only screen and (max-width: 580px){
    .profile-txt{
        font-size: 1.5rem;
        top: 10.5rem;
    }
}
@media only screen and (max-width: 450px){
    .profile-txt{
        top: 10rem;
    }
}
.bottom-fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.61),rgb(0, 0, 0));
    height: 7rem;
    width: 100%;
    position: absolute;
    margin-top: 527px;
}
.about-container{
    max-width: 100%;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.about-bg{
    background-image: url(images/2320948.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.about-header{
    font-size: 2rem;
}
.about-txt{
    max-width: 550px;
    font-size: medium;
    font-size: 1.3rem;
}
.about-content-bg{
    width: 80%;
    max-width: 550px;
    max-height: 70rem;
    position: absolute;
    border: none;
    border-radius: 2rem;
    backdrop-filter: blur(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
@media only screen and (max-width: 298px){
    .about-header{
        font-size: 2rem;
    }
    .about-txt{
        font-size: 1.1rem;
    }
}
.about-container .bottom-fade{
    background-image: linear-gradient(180deg,transparent, rgba(0, 0, 0, 0.61),rgb(0, 0, 0));
    height: 7rem;
    width: 100%;
    position: absolute;
    margin-top: 855px;
}
.top-releases-container{
    background-color: black;
    color: white;
}
.top-releases-txt{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
.top-releases-container .posters{
    display: flex;
}
.top-releases-container .poster iframe{
    width: 30rem;
}
.top-releases-container .poster{
    overflow-x: scroll;
    overflow-y: hidden;
}
.top-releases-container .poster::-webkit-scrollbar{
    display: none;
}